*.bak
obj
bin
.idea
FoxyFaceAPI/DatabaseAccessTests/data/connectionString.txt
FoxyFaceAPI/FoxyFaceAPI/data/dbConnectionString.txt
FoxyFaceAPI/FoxyFaceAPI/data/azureKey.txt

/FoxyFaceApp/*
!/FoxyFaceApp/res
!/FoxyFaceApp/www