/* materialize css */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/materialIcons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

/* Text Area */

/* label color */
.input-field label {
    color: #ff5722 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #ff5722 !important;;
}

/* label underline color */
.input-field input[type=text] {
    border-bottom: 1px solid #ff5722 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ff5722 !important;
    box-shadow: 0 1px 0 0 #ff5722 !important;
}

/* label underline color */
.input-field input[type=email] {
    border-bottom: 1px solid #ff5722 !important;
}

/* label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid #ff5722 !important;
    box-shadow: 0 1px 0 0 #ff5722 !important;
}

/* label underline color */
.input-field input[type=password] {
    border-bottom: 1px solid #ff5722 !important;
}

/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #ff5722 !important;
    box-shadow: 0 1px 0 0 #ff5722 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #ff5722 !important;;
}

.banner {
    width: 100%;
}

.clear {
    float: none;
}

.invisible {
    visibility: hidden;
}

/* gallery */

#galleryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.galleryItem {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 12px;
    text-align: center;
}

.galleryItem a {
    color: #ff5722;
}

.galleryItem {
    width: 137px !important;
}

.galleryItem .card-content {
    padding: 4px !important;
}

.galleryItem .card-title {
    font-size: inherit !important;
    font-weight: inherit !important;
}

.galleryItem .card-reveal {
    padding: 4px !important;
}



    /* pagination fix */

.pagination li span {
    color: #444;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}

.pagination li.active {
    background-color: #ff5722;
}

.pagination li.active span {
    color: white !important;
}


/* image */
#image {
    width: 100%;
}




/* star rating */

.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0 0 0 -36px;
    opacity: 0;
}

.rating-star {
    cursor: pointer;
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    background: url('../img/star.png') 0 -36px;
}

.rating-star:hover {
    background-position: 0 0;
}

.rating-star {
    position: relative;
    float: right;
    display: block;
    width: 36px;
    height: 36px;
    background: url('../img/star.png') 0 -36px;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star {
    background-position: 0 0;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 36px;
    height: 36px;
    background: url('../img/star.png') 0 -36px;
}